<div class="container-fluid">
    <div class="row justify-content-center"> 
        <a class="redsoc" href="https://www.twitter.com" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="redsoc" href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="redsoc" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"
                aria-hidden="true"></i></a>
        <a class="redsoc" href="https://www.instagram.com/" target="_blank"><i
                class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="redsoc" href="https://www.linkedin.com/" target="_blank"><i
                class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="row justify-content-center"> 
        <h6>Derechos reservados © 2021 </h6>
    </div>
</div>
</body>
</html>